<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <header>
        <h1>Library</h1>
    </header>
    <main>
        <form th:action="@{/authors}" method="get">
            <button>Authors</button>
        </form>
        <form th:action="@{/author}" method="get">
            <button>New Author</button>
        </form>
        <form th:action="@{/books}" method="get">
            <button>Books</button>
        </form>
        <form th:action="@{/book}" method="get">
            <button>New Book</button>
        </form>

    </main>
</body>
</html>